<footer class="my-20">   
    <p class="text-center text-xs text-slate-500 mt-1">
      Made by <a
        href="https://github.com/Anggie2020"
        target="_blank"
        rel="noopener"
        class="hover:underline">
        Anggie
      </a>
    </p>
  </footer>
  